ADVENTOUR_DEV_AUTH=true
DATABASE_URL=sqlite:///adventour_dev.db
FIREBASE_PROJECT_ID=adventour-73dfb
GOOGLE_API_KEY=

# For Firebase auth locally:
# ADVENTOUR_DEV_AUTH=false
# FIREBASE_SERVICE_ACCOUNT_PATH=D:\path\to\firebase-service-account.json
